In [4]:
import numpy as np

In [5]:
np1 = np.array([23,45,67])

In [6]:
np1

array([23, 45, 67])

In [7]:
type(np1)

numpy.ndarray

In [8]:
np1.shape

(3,)

*We can only insert the same type of element in the list*

In [9]:
m1 = np.array([[12,34,56],[34,7,1]])

In [10]:
m1

array([[12, 34, 56],
       [34,  7,  1]])

In [11]:
type(m1)

numpy.ndarray

In [12]:
m1.shape

(2, 3)

In [18]:
li = list(range(0,10))

In [19]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
 n2= np.arange(0,10,2)

In [23]:
n2

array([0, 2, 4, 6, 8])

In [37]:
m1[0][0] = 4

In [38]:
m1

array([[ 4, 34, 56],
       [34,  7,  1]])

In [28]:
m1.dtype

dtype('int32')

In [31]:
m1[0][1]="Khushi"

ValueError: invalid literal for int() with base 10: 'Khushi'

Note: We can insert same type of data into the matrix, practice of adding different data type will give the error

In [61]:
m1[0:1,0:1]

array([[4]])

Slicing is same as list, but here slicing done for both rows and columns

In [49]:
m2 = np.linspace(0,10,20)

# Gives the single dimensional array where 20 is the no of elememts present in the array

In [68]:
m2

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [70]:
m2.shape

(20,)

This linspace function produces single dimensional array

In [57]:
m3 = np.random.rand(4,4)

In [58]:
m3

array([[0.42856107, 0.17086931, 0.59862104, 0.40084693],
       [0.67413092, 0.60961676, 0.18486289, 0.18681116],
       [0.38676362, 0.64470264, 0.24876719, 0.85746856],
       [0.18477221, 0.46855037, 0.83756356, 0.79372506]])

Produced random 4X4 matrix

In [59]:
m4 = np.random.randn(4,4)

In [60]:
m4

array([[ 1.13868447,  0.05838767,  0.90750928,  0.01744657],
       [ 0.41356603,  1.33662425, -1.00137985,  0.22791466],
       [ 1.26663124, -0.26755672,  1.48326379, -0.91325943],
       [ 0.8944971 ,  1.63350999, -1.94181696, -1.05123163]])

Produced random 4X4 matrix but also involved negative values

In [62]:
m4[0][0]

1.1386844690126543

In [64]:
m4[0]

array([1.13868447, 0.05838767, 0.90750928, 0.01744657])

In [72]:
m5 = np.zeros([2,2])

In [73]:
m5

array([[0., 0.],
       [0., 0.]])

In [76]:
m5.dtype

dtype('float64')

All functions in numpy for creating the matrix produces float type elements

In [82]:
m6 = np.diag([3,2,5,7])

In [83]:
m6

array([[3, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 5, 0],
       [0, 0, 0, 7]])

In [87]:
m7 = np.ones([2,3])

In [88]:
m7

array([[1., 1., 1.],
       [1., 1., 1.]])